body {
  margin: 0;
  padding: 0 0 0 0;
  font-family: sans-serif;
  background-image: url("back2.png");
}

.navbar {
  font-size: 30px;
  margin-bottom: 30px;
}

.rounded-circle {
  width: 100%;
  height: auto;
}

#footer-img {
  width: 100%;
  height: auto;
}

.container {
  margin-bottom: 30px;
}

.footer-item {
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-size: large;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
}

.clickable {
  cursor: pointer;
}
/* mobile portrait  */
@media (max-width: 426px) and (max-height: 920px) {
  .rounded-circle {
    height: 50px;
    width: 50px;
  }
  .navbar-toggler {
    display: flex;
  }

  .footer-img {
    visibility: hidden;
  }

  .footer {
    height: 50px;
    width: auto;
  }

  .footer-item > a {
    text-align: center;
    display: inline;
    margin: 5px;
  }
}
